table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
  }
:root {
  --md-primary-fg-color:        #4E79A7;
  --md-primary-fg-color--light: #7c90a5;
  --md-primary-fg-color--dark:  #0054ad;
}